<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kit301.tsgapp">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>  <!-- FCM Receive permission, test -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_shopping"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_shopping_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectTSG">


        <service android:name=".ui.notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <!-- Firebase Cloud Messaging -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_shopping" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />

        <activity
            android:name=".ui.notification.SendNotification"
            android:theme="@style/Theme.ProjectTSG.NoActionBar"/>

        <activity
            android:name=".ui.admin.AdminFunctionActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.favourite.FavouriteProductDetails"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.search.ListProductDetails"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".DataNotFound"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ProductDetails"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity android:name=".StartAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.test.Test"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.homepage.Homepage"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.search.SearchProduct"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity android:name=".DrawerBaseActivity" />
        <activity
            android:name=".ui.favourite.FavouriteProduct"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:theme="@style/Theme.ProjectTSG.NoActionBar" />
        <activity
            android:name=".TakePhoto"
            android:exported="false" />
        <activity android:name=".StartPage" /> <!-- 2 camera provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kit301.tsgapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Firebase Cloud Messaging -->



    </application>

</manifest>